<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Books</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <div class="container-fluid text-center">
            <h1>Bookshelf</h1>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <h3>Books by <%= bookObj.author %></h3>
                <table>
                    <tr>
                        <td>
                            <h4>Book Title</h4>
                        </td>
                        <td>
                            <h4>Book Catagory</h4>
                        </td>
                    </tr>
                    <% bookObj.books.forEach(function(book) { %>


                        <tr>
                            <td>
                                <p>
                                    <%= book.name %>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <%= book.catagory %>
                                </p>
                            </td>
                            <td>
                                <form method="post" action="/authors/books/<%= bookObj.authorID %>?_method=DELETE" >
                                    <input type="hidden" name="hiddenName" value="<%= book.id %>">
                                    <input type="submit" name="name" value="Delete">
                                </form>
                            </td>
                            <td>
                                <form method="post" action="/authors/books/edit/<%= book.id %>" >
                                    <input type="hidden" name="hiddenName" value="<%= book.id %>">
                                    <input type="submit" name="name" value="Edit">
                                </form>
                            </td>
                        </tr>
                            <% }) %>
                </table>
                <br>
                <br>
                <br>
                <a href="/authors">Back to Authors</a>
            </div>
            <div class="col-md-4">
                <h3>Add a new book</h3>
                <form action="/authors/books/new/<%= bookObj.authorID %>" method="post">
                    <label for="name">Title: </label>
                    <input type="text" name="new" value="">
                    <br>
                    <label for="catagory">Catagory: </label>
                    <input type="text" name="catagory" value="">
                    <br>
                    <input type="submit" name="name" value="Add">
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </body>
</html>
